@font-face {
  font-family: 'Thoren Sans Heavy';
  src: url('Thoren Sans Heavy.otf') format('opentype');
}
body{
	background-color: #0f0f0f;
	font-family: 'Thoren Sans Heavy', sans-serif;
	color: #ffffff;


}
.divider {
  border: none;
  border-top: 30px solid #ffffff;
  width: 100%;
  margin: 0;
}
.divider span {
  display: block;
  position: relative;
  top: -22px;
  background-color: #ffffff;
  padding: 0 10px;
  color: #000000;
  font-family: 'Thoren Sans Heavy', sans-serif;
  font-size: 40px;



}

.aside{
	color:#333333;
}